<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>



    <link rel="stylesheet" href="extern/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/filter.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="extern/jquery/jquery.js"></script>
    <script src="extern/bootstrap/js/bootstrap.js"></script>
    <script src="extern/angularjs/angularjs.js"></script>
    <script src="extern/angularjs/angularjsanimation.js"></script>

    <script src="code/js/mainpage.js"></script>
    <script src="code/js/controller.js"></script>
   <!-- <script src="code/js/facebooklogin.js"></script> -->


</head>
<body ng-app="app">



<div class="container-fluid  headerpanel" id="header">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-xs-10 pull-left">
            <a href="http://www.klausurenhub.bplaced.net">
                <img src="images/logo/Logo_Klausurenhub.png" class="img-responsive" alt="Klausurenhub Logo" id="logo">
            </a>
        </div>

        <div class="col-lg-1 col-md-1 col-xs-1 pull-right " ng-controller="logincontroller">

            <p id="login" ng-click="changeViewToUpload()">Login</p>

            <!--
            <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>

            -->

    </div>

    </div>
</div>

<div class="container-fluid background" id="main">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-xs-12" id="filterpanel">

            <div ng-controller="mainbuttoncontroller" ng-init="initMainButtons()">

            <button type="button" class="col-lg-12 col-md-12 col-xs-12  texttomid mainbuttons " ng-click="handleClickedMainButtons()" ng-disabled="filterdisablehandler" ng-class="handlefilteractivation" id="documentfilter">
                Dokumentenfilter
            </button>
            <button type="button"  class="col-lg-12 col-md-12 col-xs-12  texttomid mainbuttons " ng-click="handleClickedMainButtons()" ng-disabled="searchdisablehandler" ng-class="handlesearchactivation"  id="documentsearch">
                Dokumentensuche
            </button>

            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 " id="filter">

                <div class="col-lg-12 col-md-12 col-xs-12 " id="filterdocuments">
                    <div class="col-lg-12 col-md-12 col-xs-12 headerpanel texttomid" id="filterdocumentsheader">
                        Dokumentenfilter
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 webpanel" id="filterdocumentsinner" filterelements>


                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 " id="filtersearch" ng-controller="searchcontroller">
                    <div class="col-lg-12 col-md-12 col-xs-12 headerpanel texttomid" id="filtersearchheader">
                        Dokumentensuche
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 webpanel " id="filtersearchinner" documentsearchbar></div>
                </div>


            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-xs-12 " id="contentpanel" ng-controller="contentcontroller"
             displaycontentoverview>

        </div>

    </div>

</div>

<div class="container-fluid  headerpanel texttoverticalmid" id="footer">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 ">footer</div>

    </div>
</div>


</body>
</html>