<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>






    <link rel="stylesheet" href="extern/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/filter.css">
    <link rel="stylesheet" href="style/loading.css">
    <link rel="stylesheet" href="style/loadingfilter.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="extern/angularmaterial/angularmaterial.css">





    <script src="extern/jquery/jquery.js"></script>
    <script src="extern/bootstrap/js/bootstrap.js"></script>
    <script src="extern/angularjs/angularjs.js"></script>
    <script src="extern/angularjs/angularjsanimation.js"></script>
    <script src="extern/angularjs/angularsanitize.js"></script>
    <script src="extern/angularjs/angularfacebook.js"></script>




    <!-- Angular Material Library -->
    <script src="extern/angularmaterial/angular-aria.js"></script>
    <script src="extern/angularmaterial/angularmaterial.js"></script>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="extern/angularmaterial/angular-animate.js"></script>







    <script src="code/js/directives.js"></script>
    <script src="code/js/services.js"></script>
    <script src="code/js/contentController.js"></script>
    <script src="code/js/loginController.js"></script>
    <script src="code/js/facebookController.js"></script>
    <script src="code/js/filterController.js"></script>

    <script src="code/js/searchController.js"></script>
    <script src="code/js/mainbuttonController.js"></script>
    <script src="code/js/filterautocompletementController.js"></script>


    <script src="code/js/facebooklogin.js"></script>

    <script type="text/javascript" src="https://rawgithub.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>


</head>
<body ng-app="app" ng-cloak>


<div class="container-fluid  headerpanel" id="header">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 pull-left">
            <a href="http://www.klausurenhub.bplaced.net">
                <img src="images/logo/Logo_Klausurenhub.png" class="img-responsive" alt="Klausurenhub Logo" id="logo">
            </a>
        </div>


        <div class="col-lg-1 col-md-2 col-xs-3 pull-right" ng-controller="authenticationCtrl">
            <div id="facebookloginbutton">
                <div id="fb-root"></div>
                <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.8&appId=1710610359248953";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>


                <fb:login-button scope="public_profile,email" data-show-faces="false" data-auto-logout-link="true" data-size="large">
                </fb:login-button>



            </div>
        </div>

        <div class="col-lg-7 col-md-6 col-xs-5 pull-right uploadbuttondiv" ng-controller="logincontroller">
            <span id="facebooknamespan">{{facebookname}}</span>
            <i id="login" ng-click="changeViewToUpload()" class="material-icons">file_upload</i>

        </div>

    </div>
</div>

<div class="container-fluid background" id="main">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-xs-12" id="filterpanel">

            <div ng-controller="mainbuttoncontroller" ng-init="initMainButtons()">

                <button type="button" class="col-lg-12 col-md-12 col-xs-12  texttomid mainbuttons "
                        ng-click="handleClickedMainButtons()" ng-disabled="filterdisablehandler"
                        ng-class="handlefilteractivation" id="documentfilter">
                    Dokumentenfilter
                </button>
                <button type="button" class="col-lg-12 col-md-12 col-xs-12  texttomid mainbuttons "
                        ng-click="handleClickedMainButtons()" ng-disabled="searchdisablehandler"
                        ng-class="handlesearchactivation" id="documentsearch">
                    Dokumentensuche
                </button>

            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 " id="filter">

                <div class="col-lg-12 col-md-12 col-xs-12 " id="filterdocuments">
                    <div class="col-lg-12 col-md-12 col-xs-12 headerpanel texttomid" id="filterdocumentsheader">
                        Dokumentenfilter
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 webpanel" id="filterdocumentsinner" filterelements>


                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 " id="filtersearch" ng-controller="searchcontroller">
                    <div class="col-lg-12 col-md-12 col-xs-12 headerpanel texttomid" id="filtersearchheader">
                        Dokumentensuche
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 webpanel " id="filtersearchinner" documentsearchbar></div>
                </div>


            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-xs-12 " id="contentpanel" ng-controller="contentcontroller"
             displaycontentoverview>

        </div>

    </div>

</div>

<div class="container-fluid  headerpanel texttoverticalmid" id="footer">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 "></div>

    </div>
</div>


</body>
</html>