.dropdownmenu_common{
    background-color: #FF9900;
    color:#000000;
    opacity: 1;
}

.dropdownmenu_common:hover{
    color:#000000;
    opacity: 1;
}

.dropdownmenu_common button{
    background-color: #FF9900;
}

.dropdownmenu_common *{
    color: #000000;
    border: none;
}

#filter_school{

}

.filterandsearch_panel {
    background-color: #FF9900;
    margin-top: 10px;
    height: 40px;
    color: black;
    text-align:center;

}


.dropdown-menu-filter{
    width: 100%;
    background-color: #FF9900;

    margin-top:15px;
    padding: 0px;

    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);



}

.dropdown-menu-filter > li > a{
    text-shadow: 0px 0px 0px black;
    color: black;
    font-weight: bold !important;


}

.dropdown-menu-filter a{
    text-align: center;
}

.dropdown_listelement{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #1B1B1B;


}

.dropdown_listelement:hover {
    font-size: 17px;

}

#filter_navbar{
    margin-top:10px;
    padding: 0px;
}

#filter_navbar a{
    background-color: #FF9900;
    color: #000000;

}

#filter_navbar a:hover{
    background-color: #ffffff;
    cursor: pointer;
}

#resetfilter{
    border: none;
    text-decoration: underline;
    font-size: 15px !important; ;
}

.filterautodiv *{
    color: black !important;
}

.filterautospan{
    color: black !important;

}





/* extra small */
@media only screen and (max-width : 400px) {
    #filter_navbar a{
        font-size: 12px;
    }
}


/* small */
@media only screen and (max-width : 992px) and (min-width : 401px) {
    #filter_navbar a{
        font-size: 20px;
    }
}

/* large */
@media only screen and (min-width : 993px) {
    #filter_navbar a{
        font-size: 15px;
    }
}

#save_decision{
    margin-top: 20px;
}

#save_decision_label{
    margin-left: 5px;
}

