/*Allgemeine Attribute */

body{
    min-width: 350px;
}

* {
    color: #ffffff;
    font-family: Arial;
    font-weight: 700;
}

.texttomid{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.texttoverticalmid{
    display: flex;
    align-items: center;
}

.mainbuttons{
    background-color: #FF9900;
    color:#000000;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;

    min-height: 30px;
    font-size: 20px;
}

.mainbuttons:hover{
    background-color: #ffa31a;
}

.noselect {
    -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Chrome/Safari/Opera */
    -khtml-user-select: none !important; /* Konqueror */
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer/Edge */
    user-select: none !important; /* Non-prefixed version, currently
                                  not supported by any browser */
}

/*Spezifische Attribute*/

.headertext {
    font-size: 20px;
}

#header {
    height: 50px;
}

#login {
    float: right;
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #FF9900;
    opacity: 0.5;
    font-size: 30px;
    display:none;
}

#login:hover {
    cursor: pointer;
    opacity: 1.0;
}

#logo {
    float: left;
    width: 190px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    height: 50px;
}

#main {
    min-height: 700px;
    /*  height: calc(100vh - 100px);*/
    /*padding: 50px;*/
}


#filter {
    height: calc(90vh - 160px);
    padding: 0px !important;
   /* min-height: 400px;*/

}

#filterdocuments {
    height: calc((90vh - 160px) / 2 + 100px);
    padding: 0px !important;
    min-height: 450px;
}

#filtersearch {
    height: calc((90vh - 160px) / 2 - 100px);
    padding: 0px;
}

#filterdocumentsinner {

    height: calc(((90vh - 160px) / 2) - 30px + 100px);
    padding: 5px;
    min-height: 450px;

}

#filtersearchinner {

    height: calc(((90vh - 160px) / 2) - 30px - 100px);

}

#filterdocumentsheader {
    height: 30px;

}

#filtersearchheader {
    height: 30px;

}

#content {
    height: calc(95vh - 140px);
    min-height: 450px;
    overflow: auto;

}

#contentheader {
    height: 5vh;
}

#filterpanel {
    padding: 20px;
    min-height: 650px;
}

#documentsearch {
    height: 5vh;
    margin-bottom: 10px;
}

#documentfilter {
    height: 5vh;
    margin-bottom: 10px;
}

.deactivatedbutton{
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.deactivatedbutton *{
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

#contentpanel {
    padding: 20px;
}

.background {
    background-color: #000000;
}

.headerpanel {
    background-color: #1B1B1B;
    min-height: 30px;
    font-size: 20px;

}

.webpanel {
    background-color: #0F0F0F;
    border: solid #1B1B1B 2px;
    min-height: 100px;

}

.previewPDF{
    color:black;
    font-size: 50px !important;

}

.contentheader{
    color: #FF9900 !important;
    font-size: 20px;
}

.contentelement{
    margin: 22px !important;
    padding: 10px !important;
    min-width: 130px;
    border: solid 2px #1B1B1B;
    height: 250px;


}

.contentsubtext span{
    color: #FF9900 !important;
    font-size:12px;
    align-items: center !important;
    justify-content: center !important;

}

.contentsubtext{
    text-align: center !important;
}


.contentsingleviewback{
    cursor: pointer;
    color: #FF9900;
}

.contentsingleviewback:hover {

    color:#ffa31a;
}

#contentsingleviewheader{
    margin-left: 30px;
}

#contentsingleviewsubheader{
    font-size: 15px !important;
    color: lightgrey;
    margin-left: 10px;
}

.contentsingleview{
    margin-top:50px;
    margin-bottom: 50px;
    height: calc(95vh - 240px);

}

#pdfpreview{
height: 100%;
}

/* ANGULARJS ANIMATIONS */



.animation.ng-enter{
     transition: 1.0s linear all;
     opacity: 0;
 }

.animation.ng-enter.ng-enter-active{
    opacity: 1;
}

.animation.ng-leave{
    transition: 0.5s linear all;
    opacity: 1;
}

.animation.ng-leave.ng-leave-active{
    opacity: 0;
}

/*////////////////////////////////////////////////////////////*/

#dropzone {
    margin-top:20px;
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    margin-bottom: 20px;
    min-height: 150px;
}

.dropzonesuccess {
    border-color: green !important;
}

.dropzoneover {
    border-color: #FF9900 !important;
}

.dropzonedefault {
    border-color: #bbb !important;
}

.dropzoneerror{
    border-color: red !important;
}

#droppedzone{
    margin-top:20px;
    margin-bottom: 20px;
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 15px;
    min-height: 50px;
    float:left;
    width:100%;
}


.thumbnailcanvas{
    cursor: pointer !important;
    height: 120px;
}

.thumbnail{
    height: 230px;
}

.contenttext{
    margin-top: 10px;
    height: 50px;
}

#uploadbutton{
    height: 60px !important;
    background-color: #FF9900 !important;
    border: none;
    font-size: 30px !important;
    color: #000000 !important;
}

.uploaddeactivated{
opacity: 0.5 !important;
    cursor: not-allowed !important;
}

.attachedfile{

    background-color: #FF9900;
    float:left;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;

    -webkit-box-shadow: inset 0px 0px 13px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 13px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 13px 0px rgba(0,0,0,1);
    opacity: 0.5;
}

.attachedfile:hover {
cursor: pointer;
}


.attachedfilename{
    color: #000000 !important;
    margin-left: 5px;
    vertical-align: -moz-middle-with-baseline;
}

.attachedfileicon{
    color: #000000 !important;
    vertical-align: -moz-middle-with-baseline;
}

.attachedfileicondelete{
    margin-left: 5px;
}

.attachedfileicondelete:hover{
    cursor: pointer;
    color: #2B180C !important;
}

.uploadeditor{
    float:left;
    margin-bottom: 20px;
    border: 2px dashed #bbb;
    border-radius: 5px;
}

.selectedfile{
    opacity: 1;
}

.uploadeditorbuttons{
    color: black !important;
    background-color: #FF9900;
    border: none;
    font-size: 20px;
    float: left !important;
    margin: 10px;

}

.uploadeditorlists{
    background-color: #FF9900;
    color: black !important;
    font-size: 16px;

    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.8);
}

.uploadeditorlists > li > a{
    font-weight: bold;
    color: black !important;
    text-shadow: none !important;
}

.alldecisionsfilled{
    display: inline !important;
}

.notalldecisionsfilled{
    display: none !important;
}

#facebooknamespan{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 5px;
    display: none;
}











/* Loginbutton */

#facebookloginbutton{
    margin-top: 10px;
}

.uploadbuttondiv{
    padding-right: 0px !important;
}




@media (max-width: 720px) {

    #login {
        margin-right: -5px;
    }

}