/*Allgemeine Attribute */

body{
    min-width: 350px;
}

* {
    color: #ffffff;
    font-family: Arial;
    font-weight: 700;
}

.texttomid{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.texttoverticalmid{
    display: flex;
    align-items: center;
}

.mainbuttons{
    background-color: #FF9900;
    color:#000000;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;

    min-height: 30px;
    font-size: 20px;
}

.mainbuttons:hover{
    background-color: #ffa31a;
}

/*Spezifische Attribute*/

.headertext {
    font-size: 20px;
}

#header {
    height: 50px;
}

#login {
    float: right;
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #7F7E7D;
}

#login:hover {
    color: #ffffff;
    cursor: pointer;
}

#logo {
    float: left;
    width: 190px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    height: 50px;
}

#main {
    /*  height: calc(100vh - 100px);*/
    /*padding: 50px;*/
}


#filter {
    height: calc(90vh - 160px);
    padding: 0px !important;
   /* min-height: 400px;*/

}

#filterdocuments {
    height: calc((90vh - 160px) / 2 + 100px);
    padding: 0px !important;
   /* min-height: 200px;*/
}

#filtersearch {
    height: calc((90vh - 160px) / 2 - 100px);
    padding: 0px;
}

#filterdocumentsinner {

    height: calc(((90vh - 160px) / 2) - 30px + 100px);
    padding: 5px;

}

#filtersearchinner {

    height: calc(((90vh - 160px) / 2) - 30px - 100px);

}

#filterdocumentsheader {
    height: 30px;

}

#filtersearchheader {
    height: 30px;

}

#content {
    height: calc(95vh - 140px);
    min-height: 450px;
    overflow: auto;

}

#contentheader {
    height: 5vh;
}

#filterpanel {
    padding: 20px;
}

#documentsearch {
    height: 5vh;
    margin-bottom: 10px;
}

#documentfilter {
    height: 5vh;
    margin-bottom: 10px;
}

.deactivatedbutton{
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

#contentpanel {
    padding: 20px;
}

.background {
    background-color: #000000;
}

.headerpanel {
    background-color: #1B1B1B;
    min-height: 30px;
    font-size: 20px;

}

.webpanel {
    background-color: #0F0F0F;
    border: solid #1B1B1B 2px;
    min-height: 100px;

}

.previewPDF{
    color:black;
    font-size: 50px !important;

}

.contentheader{
    color:black !important;
    font-size: 20px;
}

.contentelement{
    margin: 22px !important;
    padding: 0px !important;

}

.contentsubtext{
    color: black !important;
    font-size:10px;
}

.innerthumbnail{
    cursor:pointer !important;
}

.contentsingleviewback{
    cursor: pointer;
    color: #FF9900;
}

.contentsingleviewback:hover {

    color:#ffa31a;
}

#contentsingleviewheader{
    margin-left: 30px;
}

#contentsingleviewsubheader{
    font-size: 15px !important;
    color: lightgrey;
    margin-left: 10px;
}

.contentsingleview{
    margin-top:50px;
    margin-bottom: 50px;
    height: calc(95vh - 240px);

}

#pdfpreview{
height: 100%;
}

/* ANGULARJS ANIMATIONS */




@media (max-width: 720px) {

    #login {
        margin-right: -5px;
    }

}