<div class="container-fluid" id="filterelements" ng-controller="filtercontroller" ng-init="setFilterStandardValues()">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation" >

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_school">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="school_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableSchools', 'schools')" > {{schoolheader}}    </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="school_list" role="menu" >
                    <li class="dropdown_listelement" ng-repeat="availableSchool in availableSchools "><a ng-click="setFilterelementToDecision(availableSchool, 'schoolheader', 'school')"  >{{availableSchool.schoolName}}</a></li>
                </ul>
            </div>

        </div>


        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation">

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_course">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="course_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableCourses', 'courses')" > {{courseheader}} </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="course_list" role="menu">
                    <li class="dropdown_listelement" ng-repeat="availableCourse in availableCourses "> <a ng-click="setFilterelementToDecision(availableCourse, 'courseheader', 'course')"> {{availableCourse.courseName}}</a></li>

                </ul>
            </div>

        </div>


        <button class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" type="button" ng-click="resetFilter()" ng-class="handlesearchactivation" ng-disabled="searchdisablehandler"> Reset</button>

        <!--
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <ul class="nav nav-pills col-lg-12 col-md-12 col-xs-12 texttomid" id="filter_navbar">
                        <li role="presentation" class="active col-lg-4 col-md-4 col-xs-4 texttomid"><a >Semester</a></li>
                        <li role="presentation" class="col-lg-4 col-md-4 col-xs-4 texttomid"><a >Modul</a></li>
                        <li role="presentation" class="col-lg-4 col-md-4 col-xs-4 texttomid"><a >Lehrkraft</a></li>
                    </ul>

                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 texttomid combobox_panel">

                    <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " >
                        <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true">
                            <span  class="col-lg-12 col-md-12 col-xs-12 texttomid " >  </span>
                        </button>
                        <ul class="dropdown-menu-filter dropdown-menu "  role="menu">

                            <li class="dropdown_listelement"><a ></a></li>
                            <li class="dropdown_listelement"><a></a></li>
                            <li class="dropdown_listelement"><a></a></li>
                        </ul>
                    </div>

                </div>


                <!--
                <div class="col-lg-12 col-md-12 col-xs-12  ">

                     <input type="checkbox" value="" id="save_decision"><label id="save_decision_label"> Auswahl speichern</label>

                    </div>

        -->