<div class="container-fluid" id="filterelements" ng-controller="filtercontroller" ng-init="setFilterStandardValues()">

    <div class="row">

        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation" >

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_school">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="school_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableSchools', 'schools')" > {{schoolheader}}    </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="school_list" role="menu" >
                    <li class="dropdown_listelement" ng-repeat="availableSchool in availableSchools "><a ng-click="setFilterelementToDecision(availableSchool, 'schoolheader', 'school')"  >{{availableSchool.schoolName}}</a></li>
                </ul>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation">

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_teacher">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="teacher_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableTeachers', 'teachers')" > {{teacherheader}} </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="teacher_list" role="menu">
                    <li class="dropdown_listelement" ng-repeat="availableTeacher in availableTeachers "> <a ng-click="setFilterelementToDecision(availableTeacher, 'teacherheader', 'teacher')"> {{availableTeacher.teacherName}}</a></li>

                </ul>
            </div>

        </div>


        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation">

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_course">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="course_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableCourses', 'courses')" > {{courseheader}} </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="course_list" role="menu">
                    <li class="dropdown_listelement" ng-repeat="availableCourse in availableCourses "> <a ng-click="setFilterelementToDecision(availableCourse, 'courseheader', 'course')"> {{availableCourse.courseName}}</a></li>

                </ul>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation">

        <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_subject">
            <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                <span id="subject_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableSubjects', 'subjects')" > {{subjectheader}} </span>
            </button>
            <ul class="dropdown-menu-filter dropdown-menu " id="subject_list" role="menu">
                <li class="dropdown_listelement" ng-repeat="availableSubject in availableSubjects "> <a ng-click="setFilterelementToDecision(availableSubject, 'subjectheader', 'subject')"> {{availableSubject.subjectName}}</a></li>

            </ul>
        </div>

    </div>

        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation">

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_degree">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="degree_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableDegrees', 'degrees')" > {{degreeheader}} </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="degree_list" role="menu">
                    <li class="dropdown_listelement" ng-repeat="availableDegree in availableDegrees "> <a ng-click="setFilterelementToDecision(availableDegree, 'degreeheader', 'degree')"> {{availableDegree.degreeName}}</a></li>

                </ul>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation">

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_semester">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="semester_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableSemesters', 'semesters')" > {{semesterheader}} </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="semester_list" role="menu">
                    <li class="dropdown_listelement" ng-repeat="availableSemester in availableSemesters "> <a ng-click="setFilterelementToDecision(availableSemester, 'semesterheader', 'semester')"> {{availableSemester.semesterName}}</a></li>

                </ul>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" ng-class="handlesearchactivation">

            <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " id="filter_year">
                <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true" ng-disabled="searchdisablehandler" >
                    <span id="year_selection" class="col-lg-12 col-md-12 col-xs-12 texttomid " data-ng-init="loadAvailableOptions('availableYears', 'years')" > {{yearheader}} </span>
                </button>
                <ul class="dropdown-menu-filter dropdown-menu " id="year_list" role="menu">
                    <li class="dropdown_listelement" ng-repeat="availableYear in availableYears "> <a ng-click="setFilterelementToDecision(availableYear, 'yearheader', 'year')"> {{availableYear.yearName}}</a></li>

                </ul>
            </div>

        </div>



        <button class="col-lg-12 col-md-12 col-xs-12 texttomid filterandsearch_panel" type="button" ng-click="resetFilter()" ng-class="handlesearchactivation" ng-disabled="searchdisablehandler"> Reset</button>

        <!--
                <div class="col-lg-12 col-md-12 col-xs-12">

                    <ul class="nav nav-pills col-lg-12 col-md-12 col-xs-12 texttomid" id="filter_navbar">
                        <li role="presentation" class="active col-lg-4 col-md-4 col-xs-4 texttomid"><a >Semester</a></li>
                        <li role="presentation" class="col-lg-4 col-md-4 col-xs-4 texttomid"><a >Modul</a></li>
                        <li role="presentation" class="col-lg-4 col-md-4 col-xs-4 texttomid"><a >Lehrkraft</a></li>
                    </ul>

                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 texttomid combobox_panel">

                    <div class="dropdown close dropdownmenu_common col-lg-12 col-md-12 col-xs-12 " >
                        <button class=" dropdown-toggle col-lg-12 col-md-12 col-xs-12" type="button"  data-toggle="dropdown"  aria-haspopup="true">
                            <span  class="col-lg-12 col-md-12 col-xs-12 texttomid " >  </span>
                        </button>
                        <ul class="dropdown-menu-filter dropdown-menu "  role="menu">

                            <li class="dropdown_listelement"><a ></a></li>
                            <li class="dropdown_listelement"><a></a></li>
                            <li class="dropdown_listelement"><a></a></li>
                        </ul>
                    </div>

                </div>


                <!--
                <div class="col-lg-12 col-md-12 col-xs-12  ">

                     <input type="checkbox" value="" id="save_decision"><label id="save_decision_label"> Auswahl speichern</label>

                    </div>

        -->