<div class="col-lg-12 col-md-12 col-xs-12 headerpanel texttoverticalmid" id="contentheader">Altklausurenübersicht</div>
<div class="col-lg-12 col-md-12 col-xs-12 webpanel " id="content">
    <div ng-class="{true: 'cssload-container' , false: ''}[loading == true]">


    <div class="row" data-ng-init="initContent()">
        <div class="col-sm-2 col-md-2 col-xs-2 contentelement animation"
             ng-repeat="clause in clauses track by clause.clauseID ">
            <div data-ng-init="setThumbnail(clause.clauseID, clause.Path)">



                    <div class="row">


                        <img src="/./images/loading/thumbloader.gif" class="thumbloader">

                            <canvas class="col-sm-12 col-md-12 col-xs-12 thumbnailcanvas"  ng-click="changeToContentView(clause)" ng-attr-id="{{ clause.clauseID }}" >


                            </canvas>

                    </div>

                    <div class="row contenttext">
                        <p class=" col-sm-12 col-md-12 col-xs-12 texttomid contentheader">{{clause.clauseName}}</p>
                        <span class=" col-sm-12 col-md-12 col-xs-12 contentsubtext">
                            <span>| {{clause.schoolName}} </span>
                            <span>| {{clause.courseName}} </span>
                            <span>| {{clause.degreeName}} </span>
                            <span>| {{clause.subjectName}} </span>
                            <span>| {{clause.semesterName}} </span>
                            <span>| {{clause.teacherName}} </span>
                            <span>| {{clause.yearName}} </span>

                        </span>

                    </div>



            </div>
        </div>
    </div>
    </div>

    <div  ng-class="{true: 'cssload-loading' , false: ''}[loading == true]"><i></i><i></i></div>
</div>


