<div class="col-lg-12 col-md-12 col-xs-12 headerpanel texttoverticalmid" id="contentheader">
    <i ng-click="back()" class="contentsingleviewback material-icons">backspace</i>
    <span id="contentsingleviewheader">Upload</span>
</div>

<div class="col-lg-12 col-md-12 col-xs-12 webpanel " id="content">

    <div class="row">

        <div class="col-lg-1 col-md-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-xs-10" dropzone></div>
        <div class="col-lg-1 col-md-1 col-xs-1"></div>

    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <div id="droppedzone" >

                <div class="animation noselect"  ng-repeat="uploadedfile in uploadedfiles">
                   <div class=" attachedfile noselect" ng-click="editorshow(uploadedfile)" ng-class="{true: 'selectedfile' , false: ''}[selectedclassoffile == uploadedfile.$$hashKey]" >
                       <i class="material-icons attachedfileicon noselect notalldecisionsfilled"  ng-attr-id="allchecked_{{ uploadedfile.$$hashKey }}">check_circle</i>
                       <i class="material-icons attachedfileicon noselect">attach_file</i>
                       <span texttoverticalmid class="attachedfilename noselect">{{uploadedfile.name}}</span>
                       <i class="material-icons attachedfileicon attachedfileicondelete noselect" ng-click="deleteattachedfile(uploadedfile)" >delete_forever</i>
                   </div>


                </div>

            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1"></div>

    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <div uploadeditor></div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1"></div>

    </div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1"></div>
        <div class="col-lg-10 col-md-10 col-xs-10">
            <button class="col-lg-12 col-md-12 col-xs-12 " id="uploadbutton" ng-disabled="disableupload" ng-click="uploadfiles()" ng-class="{true: 'uploaddeactivated' , false: ''}[disableupload == true]">
            Upload</button>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1"></div>

    </div>





</div>
